body .unity-wrapper {
    height: 100%;
}

.unity-wrapper>#main-element {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

/* Hide footer */
#footer {
    display: none;
}

/* Hide header */
.header-mount {
    display: none;
}
