body .unity-wrapper {
    height: 100%;
}

html,
body,
#main-element {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-bottom: 0;

}

/* Hide footer */
#b2access-footer {
    display: none;
}

/* Hide header */
.header-mount {
    display: none;
}
