<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ng-csp ie ie6 lte9 lte8 lte7" data-placeholder-focus="false"><![endif]-->
<!--[if IE 7]>
<html class="ng-csp ie ie7 lte9 lte8 lte7" data-placeholder-focus="false"><![endif]-->
<!--[if IE 8]>
<html class="ng-csp ie ie8 lte9 lte8" data-placeholder-focus="false"><![endif]-->
<!--[if IE 9]>
<html class="ng-csp ie ie9 lte9" data-placeholder-focus="false"><![endif]-->
<!--[if gt IE 9]>
<html class="ng-csp ie" data-placeholder-focus="false"><![endif]-->
<!--[if !IE]><!-->
<html class="ng-csp" data-placeholder-focus="false"><!--<![endif]-->

<head>
    <title>About B2ACCESS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon16_16.png" />
    <link rel="stylesheet" href="../css/server.css" type="text/css" media="screen" />
    <script src="../js/b2drop-include.js"></script>
</head>

<body id="page">
    <noscript>
        <div id="nojavascript">
            <div>This application requires JavaScript for correct operation. Please <a
                    href="http://enable-javascript.com/" target="_blank">enable JavaScript</a> and reload the page.
            </div>
        </div>
    </noscript>

    <div w3-include-html="components/header.html"></div>

    <div class="container" align="justify">
        <h1>About B2ACCESS</h1>
        <p>The B2ACCESS service is a Identity and Authorisation Management (IAM) system which arbitrates authenticated
            access to registered services in the context of the EUDAT Collaborative Data Infrastructure (CDI). The role
            of the B2ACCESS service is to allow these services to make authentication and the authorisation decisions,
            and to perform any other processing required, when the end user accesses these services. When connecting to
            a CDI service that requires a login (eventually with further attributes) the access request is redirected to
            the B2ACCESS instance ( <a href="https://b2access.eudat.eu:8443/home/home"
                target="_blank">https://b2access.eudat.eu:8443/home/home</a>) and the user can effectively login by
            using his/her primary credential (such as username and password).</p>
        <p>EUDAT identifiers provided by the B2ACCESS service are persistently bound to the user's primary identity.
            Primary identities can be provided by external identity providers, e.g. shibboleth IdPs of the users' home
            organisations or OpenID providers such as the Google IdP, or they can be provided by the B2ACCESS service
            itself, if the users registered genuinely on this service. B2ACCESS may use and store the Attributes
            provided by the IdP. The B2ACCESS Service Provider makes sure that the end user’s attributes are only
            forwarded to lower-level Service Providers which the end user wants to access. Service Providers must have
            declared to the B2ACCESS SP that they comply with the GEANT Data Protection Code of Conduct. This implies
            that these lower-level Service Providers will only use personal information that is relevant to provide
            their service.</p>
    </div>
    <div w3-include-html="components/footer.html"></div>
</body>
<script>includeHTML()</script>

</html>