<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ng-csp ie ie6 lte9 lte8 lte7" data-placeholder-focus="false"><![endif]-->
<!--[if IE 7]>
<html class="ng-csp ie ie7 lte9 lte8 lte7" data-placeholder-focus="false"><![endif]-->
<!--[if IE 8]>
<html class="ng-csp ie ie8 lte9 lte8" data-placeholder-focus="false"><![endif]-->
<!--[if IE 9]>
<html class="ng-csp ie ie9 lte9" data-placeholder-focus="false"><![endif]-->
<!--[if gt IE 9]>
<html class="ng-csp ie" data-placeholder-focus="false"><![endif]-->
<!--[if !IE]><!-->
<html class="ng-csp" data-placeholder-focus="false"><!--<![endif]-->

<head>
    <title>B2ACCESS - Terms of Use</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="../../img/favicon16_16.png" />
    <link rel="stylesheet" href="../../css/server.css" type="text/css" media="screen" />
    <script src="../js/b2drop-include.js"></script>>
</head>

<body id="page">
    <noscript>
        <div id="nojavascript">
            <div>This application requires JavaScript for correct operation. Please <a
                    href="http://enable-javascript.com/" target="_blank">enable JavaScript</a> and reload the page.
            </div>
        </div>
    </noscript>

    <div w3-include-html="components/header.html"></div>

    <div class="container" align="justify">

        <h1>Terms of Use for EUDAT</h1>
        <p><b>Version:</b> 2.0</p>
        <p><b>Date:</b> 28 Jun 2019</p>
        <p><b>References:</b> <a
                href="https://b2access.eudat.eu/unitygw/VAADIN/files/terms-of-use.html">https://b2access.eudat.eu/unitygw/VAADIN/files/terms-of-use.html</a><br />
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a
                href="https://b2access.eudat.eu/unitygw/VAADIN/files/data-privacy-statement.html">https://b2access.eudat.eu/unitygw/VAADIN/files/data-privacy-statement.html</a><br />
        </p>
        <br />
        <h2>Scope</h2>
        <p>This policy is applicable and must be accepted by the users of any EUDAT CDI services.</p>
        <h2>Introduction</h2>
        <p>This Acceptable Use Policy and Conditions of Use (“AUP”) defines the rules and conditions that govern your
            access to and use (including transmission, processing, and storage of data) of the resources and services
            (“Services”) as granted by the EUDAT CDI, represented by the EUDAT ltd, for the purpose of accessing and
            using distributed research data management services including storage resources, data processing facilities
            and the corresponding consultancy.</p>
        <ol
            style="display: block; list-style-type: decimal; margin-top: 1em; margin-bottom: 1 em; margin-left: 0; margin-right: 0; padding-left: 40px;">
            <li>You shall only use the Services in a manner consistent with the purposes and limitations described
                above; you shall show consideration towards other users including by not causing harm to the Services;
                you have an obligation to collaborate in the resolution of issues arising from your use of the Services.
            </li>
            <li>You shall only use the Services for lawful purposes and not breach, attempt to breach, nor circumvent
                administrative or security controls.</li>
            <li>You shall respect intellectual property and confidentiality agreements.</li>

            <li>You shall protect your access credentials (e.g. passwords, private keys or multi-factor tokens); no
                intentional sharing is permitted.</li>

            <li>You shall keep your registered information correct and up to date.</li>

            <li>You shall promptly report known or suspected security breaches, credential compromise, or misuse to the
                security contact stated below; and report any compromised credentials to the relevant issuing
                authorities.</li>

            <li>Reliance on the Services shall only be to the extent specified by any applicable service level
                agreements listed below. Use without such agreements is at your own risk.</li>

            <li>Your personal data will be processed in accordance with the privacy statements referenced below.</li>

            <li>Your use of the Services may be restricted or suspended, for administrative, operational, or security
                reasons, without prior notice and without compensation.</li>

            <li>If you violate these rules, you may be liable for the consequences, which may include your account being
                suspended and a report being made to your home organisation or to law enforcement.</li>
        </ol>
        <h2>Contact points</h2>
        <p>The security contact for this AUP is: <a href="mailto:csirt@eudat.eu" target="_top">csirt@eudat.eu</a></p>
        <p>The administrative contact for this AUP is: <a href="mailto:cdi-secretariat@eudat.eu"
                target="_top">cdi-secretariat@eudat.eu</a></p>
        <h2>The privacy statements (e.g. Privacy Notices):</h2>
        <p>Your personal data will be processed in accordance with the privacy statements (<a
                href="https://b2access.eudat.eu/unitygw/VAADIN/files/services.html">Data Protection and Privacy
                Policies</a>) in compliance with the EU General Data Protection Regulation (2016/679).</p>
        <h2>Applicable service level agreements:</h2>
        <p>Reliance on the Services shall only be to the extent explicitly specified by applicable service description.
        </p>
        <p>
            EUDAT Ltd.
            c/o CSC - IT Center for Science Ltd.<br />
            POB 405<br />
            <br />
            02101 Espoo<br />
            <br />
            FINLAND
        </p>
        <h2>Copyright statements</h2>
        <p>This policy is based on the <a
                href="https://wiki.geant.org/display/AARC/Acceptable+Use+Policy+and+Conditions+of+Use+-+WISE+Baseline+AUP?preview=/123766285/123773710/WISE-SCI-Baseline-AUP-V1.0.1-draft.pdf"
                target="_blank">"WISE Baseline Acceptable Use Policy and Conditions of Use", version 1.0.1 (draft) dated
                25 Feb 2019</a>.</p>
        <p>&copy; Owned by the Members of the WISE Community SCI Working Group and made available under license: <a
                href="https://creativecommons.org/licenses/by-nc-sa/4.0"
                target="_blank">https://creativecommons.org/licenses/by-nc-sa/4.0</a></p>
    </div>

    <div class="page-wrap">
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 align-self-center">
                        <div class="logo">
                            <img src="../themes/html/img/Logo_eudat_CDI_white.svg" alt="Placeholder+logo" width="201px">
                            <p>© 2019 EUDAT Collaborative Data Infrastructure </p>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div id="menu">
                            <ul>
                                <li><a target="_blank"
                                        href="http://hdl.handle.net/11304/e43b2e3f-83c5-4e3f-b8b7-18d38d37a6cd"> EUDAT
                                        Service ToU</a></li>
                                <li><a href="terms-of-use.html">Terms of Use</a></li>
                                <li><a href="data-privacy-statement.html">Data Privacy Statement</a></li>
                                <li><a target="_blank" href="https://eudat.eu/what-eudat">About EUDAT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondary-footer" style="padding:0px 15px;">
                <div class="line" style="margin-bottom:15px;width:100%;border-bottom: 1px solid #888;"></div>
                <div style="display: table; width: 100%;">
                    <div style="display: table-cell; width:60px;">
                        <img src="../themes/html/img/euflag.png" height="40px;">
                    </div>
                    <div style="display: table-cell; padding-left:15px; width:135px">
                        <img src="../themes/html/img/EOSC-hub-extended-grey.png" height="40px;">
                    </div>
                    <div style="display: table-cell; padding-top:10px; color:#fff;font-size:12px;font-weight:400;">
                        B2ACCESS is co-funded by the EOSC-hub project (Horizon 2020) under Grant number 777536</div>
                    <div class="container-fluid">
                        <p>Powered by Unity-IDM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div w3-include-html="components/footer.html"></div>
</body>
<script>includeHTML()</script>

</html>