<div class="page-wrap align-vertical">
    <div class="primary-header">
        <div class="section-link">
            <a href="https://eudat.eu">Go to EUDAT website</a>
        </div>
    </div>
    <div class="header">
        <div class="headertable">
            <div class="logo">
                <a href="/">
                    <img src="/unitygw/VAADIN/themes/html/img/logo-b2Access146H.png" alt="Placeholder+logo"
                        height="100px">
                </a>
            </div>
            <div id="menu">
                <ul>
                    <li><a target="_blank" href="https://docs.eudat.eu/b2access/">What is B2ACCESS</a></li>
                    <li><a target="_blank" href="https://docs.eudat.eu/b2access/howto-mfa/">Users Guide</a>
                    </li>
                    <li><a href="/unitygw/VAADIN/themes/html/templates/faq.html">FAQs</a></li>
                    <li><a target="_blank" href="https://eudat.eu/support-request?service=B2ACCESS">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>